.weather-part-of-date {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__condition {
    width: 40px;
    height: 40px;
  }

  &__temp {
    display: flex;
    gap: 40px;
  }
}