.weather-weather-card {
  padding: 15px;

  &__parts {
    border-radius: 10px;
    background: var(--card-color);

    & > div:first-child {
      border-right: 1px solid var(--border-color);
    }
  }
}